html {
    font-size: .75rem;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    font-weight: 400;
    background-color: var(--surface-ground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

/*.bg-secondary{
    --tw-bg-opacity: 1;
    background-color: color-mix(in srgb, var(--secondary-color) calc(100%* var(--tw-bg-opacity, 1)), transparent);
}
.text-error{
    color:var(--text-error);
}*/