<h1>COLORES PRIMARIO</h1>   
<div class="max-w-80">
<div class="bg-primary-50">&nbsp;50</div>
<div class="bg-primary-100">100</div>
<div class="bg-primary-200">200</div>
<div class="bg-primary-300">300</div>
<div class="bg-primary-400">400</div>
<div class="bg-primary-500">500</div>
<div class="bg-primary-600">600</div>
<div class="bg-primary-700">700</div>
<div class="bg-primary-800">800</div>
<div class="bg-primary-900">900</div>
</div>
<h1>TIPOGRAFIA</h1>   
<div class="max-w-80">
    <h1>Heading</h1>
    <h2>Heading</h2>
    <h3>Heading</h3>
    <h4>Heading</h4>
    <h5>Heading</h5>
    <h6>Heading</h6>
</div>
